.column {
  display: inline-block;
  width: 40px;
  margin: 5px;
  
}
.equalizer{
  width:85%; 
  margin:60px auto;

}
#purple {
  height: 160px;
  background-color: #8800FF;
}

#blue {
  height: 140px;
  background-color: #0022FF;
}

#cyan {
  height: 100px;
  background-color: #22FFFF;
}

#green {
  height: 140px;
  background-color: #00BB00;
}

#yellow {
  height: 180px;
  background-color: #FFFF00;
}

#orange {
  height: 70px;
  background-color: #FF6600;
}

#red {
  height: 200px;
  background-color: #FF0000;
}

#black {
  display: inline-block;
  height: 240px;
  width: 1px;
  opacity:0;
  background-color: #000000;
}
body {

background: #3D7EAA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #FFE47A, #3D7EAA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #FFE47A, #3D7EAA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

html{
  height: 100%;
  width:100%;
}